# Assignment No- 3

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

Q--> 1--> Write a python program which searches all the product under a particular product from www.amazon.in. The
product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for
guitars.

In [66]:
driver=webdriver.Chrome()
driver.get('http://www.amazon.in/')

In [67]:
search=driver.find_element(By.CLASS_NAME,'nav-input')
search.send_keys('guitars') # for input guitars

find=driver.find_element(By.ID,'nav-search-submit-button')
find.click()    # for click on search

Q--2--> In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“

In [68]:
# scrape all the product's url
product_url=[]
start=0
end=30
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//*[@id="search"]/div[1]/div[1]/div/span[1]/div[1]/div[3]/div/div/div/div/span/div/div/div[2]/div[1]/h2/a')
    for i in url:
        product_url.append(i.get_attribute("href"))

In [69]:
len(product_url)

30

In [70]:
# product_url.clear()

In [71]:
# product_url

In [ ]:
for url in product_url:
    driver.get(url)
    time.sleep(1)

In [ ]:
product=[]
brand=[]
price=[]
exchange=[]
delivery=[]
availability=[]
url=[]

In [104]:
# for product name
start=0
end=20
for page in range(start,end):
    pro=driver.find_elements(By.XPATH,'//*[@id="productTitle"]')
    for i in pro:
        product.append(i.text)
        product=product[0:20]
        
# for Brand Name        
start=0
end=20
for page in range(start,end):
    br=driver.find_elements(By.XPATH,'//*[@id="productOverview_feature_div"]/div/table/tbody/tr[1]/td[2]/span')
    for i in br:
        brand.append(i.text)
        brand=brand[0:20]
           
# for Price
start=0
end=20
for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//*[@id="corePrice_feature_div"]/div/div/span[1]/span[2]/span[2]')
    for i in pr:
        price.append(i.text)
        price=price[0:20]
        
# for exchange data
start=0
end=20
for page in range(start,end):
    exc=driver.find_elements(By.XPATH,'//*[@id="RETURNS_POLICY"]/span/div[2]/span')
    for i in exc:
        exchange.append(i.text)
        exchange=exchange[0:20]
        
# for delivery data
start=0
end=20
for page in range(start,end):
    deli=driver.find_elements(By.XPATH,'//*[@id="mir-layout-DELIVERY_BLOCK-slot-PRIMARY_DELIVERY_MESSAGE_LARGE"]/span/span[1]')
    for i in deli:
        delivery.append(i.text)
        delivery=delivery[0:20]
        
        
# for availability
start=0
end=20
for page in range(start,end):
    abl=driver.find_elements(By.XPATH,'//*[@id="availability"]/span')
    for i in abl:
        availability.append(i.text)
        availability=availability[0:20]

In [108]:
print(len(product),len(brand),len(price),len(exchange),len(delivery),len(availability))

20 20 20 20 20 20

In [109]:
# DataFrame
import pandas as pd
df=pd.DataFrame({'Product Name':product,'Brand Name':brand,'Price':price,'Exchange Date':exchange,'Delivery Date':delivery,'Availability':availability})
df

,Product Name,Brand Name,Price,Exchange Date,Delivery Date,Availability
0,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
1,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
2,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
3,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
4,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
5,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
6,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
7,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
8,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
9,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
10,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
11,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
12,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
13,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
14,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
15,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
16,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
17,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
18,"Kadence rosewood Guitar Frontier Series, Elect...",Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock
19,,Kadence,"5,499",7 days Replacement,"Friday, 24 November",In stock

Q-3-> Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [24]:
driver=webdriver.Chrome()
driver.get('https://images.google.com/?gws_rd=ssl')

In [26]:
find=driver.find_element(By.CLASS_NAME,'gLFyf')
find.send_keys('cars')

clk=driver.find_element(By.CLASS_NAME,'zgAlFc')
clk.click()

In [27]:
fruits=[]
cars=[]
ml=[]
guitar=[]
cakes=[]

In [ ]:
photo=driver.find_elements(By.XPATH,""""//img[@XPATH="islrg"]/div[1]/div[1]/a[1]/div[1]/img""")
for i in photo:
    po=i.get_attribute('src')
    fruits.append(po)

In [31]:
fruits

[]

In [169]:
fruits.clear()

Q 4--> Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com
and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand
Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”,
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the
details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [227]:
driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/')

In [233]:
input_=driver.find_element(By.CLASS_NAME,'Pke_EE')
input_.send_keys('Oneplus Nord, pixel 4A')

In [234]:
cl=driver.find_element(By.CLASS_NAME,'_2iLD__').click()

In [235]:
name=[]
brand=[]
price=[]
color=[]
ram=[]
storage=[]
camera=[]
secondry_camera=[]
display=[]
battery=[]
url=[]

In [396]:
na=driver.find_elements(By.CLASS_NAME,'_4rR01T')
for i in na:
    name.append(i.text)
    name=name[0:8]

In [410]:
print(len(name))
# name

8

In [354]:
# name.clear()

In [397]:
rate=driver.find_elements(By.CLASS_NAME,'_30jeq3')
for i in rate:
    price.append(i.text)
    price=price[0:8]

In [345]:
# price

In [411]:
# price.clear()
len(price)

8

In [399]:
br=driver.find_elements(By.CLASS_NAME,'_4rR01T')
for i in br:
    brand.append(i.text)
    brand=brand[0:8]

In [412]:
len(brand)

8

In [400]:
r=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[3]/ul/li[1]')
for i in r:
    ram.append(i.text)
    ram=ram[0:8]

In [413]:
len(ram)

8

In [402]:
ram

['6 GB RAM | 64 GB ROM',
 '16.36 cm (6.44 inch) Full HD+ Display',
 '48MP + 8MP | 32MP + 8MP Dual Front Camera',
 '4115 mAh Battery',
 'Qualcomm® Snapdragon™ 765G Processor',
 '1 Year',
 '8 GB RAM | 128 GB ROM',
 '16.36 cm (6.44 inch) Full HD+ Display']

In [403]:
cam=driver.find_elements(By.CLASS_NAME,'rgWa7D')
for i in cam:
    camera.append(i.text)
    camera=camera[0:8]

In [414]:
len(camera)

8

In [405]:
sec=driver.find_elements(By.CLASS_NAME,'rgWa7D')
for i in sec:
    secondry_camera.append(i.text)
    secondry_camera=camera[0:8]

In [415]:
len(secondry_camera)

8

In [406]:
des=driver.find_elements(By.CLASS_NAME,'rgWa7D')
for i in des:
    display.append(i.text)
    display=camera[0:8]

In [416]:
len(display)

8

In [407]:
bat=driver.find_elements(By.CLASS_NAME,'rgWa7D')
for i in bat:
    battery.append(i.text)
    battery=camera[0:8]

In [417]:
len(battery)

8

In [418]:
link=driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
for i in link:
    new=i.get_attribute('href')
    url.append(new)
    url=url[0:8]

In [389]:
url.clear()

In [419]:
len(url)

8

In [ ]:
name=[]
brand=[]
price=[]
color=[]
ram=[]
storage=[]
camera=[]
secondry_camera=[]
display=[]
battery=[]
url=[]

In [421]:
import pandas as pd
df=pd.DataFrame({'product_name':name,'Product Brand':brand,'product_price':price,'product ram':ram,'camera':camera,'secondry comera':secondry_camera,'display':display,'battery':battery,'url':url})
df

,product_name,Product Brand,product_price,product ram,camera,secondry comera,display,battery,url
0,"OnePlus Nord (Gray Onyx, 64 GB)","OnePlus Nord (Gray Onyx, 64 GB)","₹22,689",6 GB RAM | 64 GB ROM,6 GB RAM | 64 GB ROM,6 GB RAM | 64 GB ROM,6 GB RAM | 64 GB ROM,6 GB RAM | 64 GB ROM,https://www.flipkart.com/oneplus-nord-gray-ony...
1,"OnePlus Nord (Blue Marble, 128 GB)","OnePlus Nord (Blue Marble, 128 GB)","₹24,790",16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,https://www.flipkart.com/oneplus-nord-blue-mar...
2,"OnePlus Nord CE 2 5G (Gray Mirror, 128 GB)","OnePlus Nord CE 2 5G (Gray Mirror, 128 GB)","₹24,999",48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,https://www.flipkart.com/oneplus-nord-ce-2-5g-...
3,"OnePlus Nord (Gray Onyx, 128 GB)","OnePlus Nord (Gray Onyx, 128 GB)","₹24,600",4115 mAh Battery,4115 mAh Battery,4115 mAh Battery,4115 mAh Battery,4115 mAh Battery,https://www.flipkart.com/oneplus-nord-gray-ony...
4,"OnePlus Nord (Blue Marble, 64 GB)","OnePlus Nord (Blue Marble, 64 GB)","₹22,980",Qualcomm® Snapdragon™ 765G Processor,Qualcomm® Snapdragon™ 765G Processor,Qualcomm® Snapdragon™ 765G Processor,Qualcomm® Snapdragon™ 765G Processor,Qualcomm® Snapdragon™ 765G Processor,https://www.flipkart.com/oneplus-nord-blue-mar...
5,"OnePlus Nord (Gray Onyx, 256 GB)","OnePlus Nord (Gray Onyx, 256 GB)","₹22,999",1 Year,1 Year,1 Year,1 Year,1 Year,https://www.flipkart.com/oneplus-nord-gray-ony...
6,"OnePlus Nord (Blue Marble, 256 GB)","OnePlus Nord (Blue Marble, 256 GB)","₹21,999",8 GB RAM | 128 GB ROM,8 GB RAM | 128 GB ROM,8 GB RAM | 128 GB ROM,8 GB RAM | 128 GB ROM,8 GB RAM | 128 GB ROM,https://www.flipkart.com/oneplus-nord-blue-mar...
7,"OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)","OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)","₹24,499",16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,16.36 cm (6.44 inch) Full HD+ Display,https://www.flipkart.com/oneplus-nord-ce-2-5g-...

Q  5--> Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [424]:
from selenium.webdriver.common.keys import Keys

In [423]:
driver=webdriver.Chrome()
driver.get('https://www.google.com/maps/@13.0046075,77.5490335,14z?authuser=0&entry=ttu')

In [426]:
search=driver.find_element(By.XPATH,'//*[@id="searchboxinput"]')
search.send_keys('bangaluru')
search.send_keys(Keys.ENTER)

In [428]:
bangalore=[]
ban=driver.find_elements(By.XPATH,'//*[@id="action-menu"]/div[1]')
for i in ban:
    bangalore.append(i.text)

In [430]:
print('latitude, longitude',bangalore)

latitude, longitude ['12.97700, 77.59909']

Q--> 6--> Write a program to scrap all the available details of best gaming laptops from digit.in.

In [431]:
import bs4
from bs4 import BeautifulSoup
import requests

In [432]:
url='https://www.digit.in/top-products/best-amd-gaming-laptops-with-nvidia-geforce-rtx-3050-4073.html'

In [436]:
page=requests.get(url)
page

In [442]:
soup=BeautifulSoup(page.content)

In [449]:
na=BeautifulSoup(page.text,'lxml')
# print(na)

Q -7==>. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped:
“Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [489]:
driver=webdriver.Chrome()
driver.get('https://www.forbes.com/billionaires/')

In [490]:
name=[]
net_worth=[]
age=[]
citizenship=[]
source=[]
industry=[]

In [491]:
na=driver.find_elements(By.CLASS_NAME,'Table_dataCell__2QCve')
for i in na:
    name.append(i.text)

In [495]:
# name
len(name)

1200

In [496]:
# name.clear()

In [494]:
df=pd.DataFrame(name,columns=['all details of billionaires'])
df

     all details of billionaires
0                              1
1       Bernard Arnault & family
2                         $211 B
3                             74
4                           LVMH
...                          ...
1195                Valerie Mars
1196                      $9.6 B
1197                          64
1198             Candy, pet food
1199

[1200 rows x 1 columns]

sorry sir i can't able to scrape single single data because this data in table format, so i don't know how to scrape this

Q8--> Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted
from any YouTube Video.

In [559]:
driver=webdriver.Chrome()
driver.get('https://www.youtube.com/watch?v=YnW__aCkTeE')

In [534]:
comments=[]
time=[]
person=[]

In [555]:
start=0
end=25
for page in range(start,end):
    comm=driver.find_elements(By.CLASS_NAME,'style-scope ytd-expander')
    for i in comm:
        comments.append(i.text)
        comments=comments[0:500]

In [508]:
# comments

In [546]:
len(comments)

500

In [556]:
start=[]
start=0
end=25
for page in range(start,end):
    ti=driver.find_elements(By.CLASS_NAME,'published-time-text')
    for i in ti:
        time.append(i.text)
        time=time[0:500]

In [552]:
len(time)

0

In [551]:
time.clear()

In [533]:
# print(navin)

In [560]:
start=0
end=2
for page in range(start,end):
    pers=driver.find_elements(By.CLASS_NAME,'style-scope')
    for i in pers:
        person.append(i.text)
        person=person[0:500]

In [561]:
len(person)

500

In [565]:
import pandas as pd
df=pd.DataFrame({'Commenters':person,'Comment_content':comments,'Time':time})
df.replace('','-',inplace=True)

In [566]:
df

,Commenters,Comment_content,Time
0,-,"All over the body, the hair follicles stand up.",2 weeks ago
1,-,This is not only festival\nThis is our an emot...,2 months ago
2,-,Jai chaati maiya,1 year ago
3,-,मै एक बिहारी हूँ और मै ये दावे के साथ कह सकता ...,2 weeks ago
4,#Pawan_Singh,Beautiful song,1 month ago
...,...,...,...
495,#Pawan Singh का सुपरहिट छठ गीत | पेन्हले महादे...,Jai Chaathi Maiya️,1 year ago
496,-,Jai chhathi Maiya your voice is magical,1 year ago
497,-,In our all festival chatt puja is very importa...,7 days ago
498,-,Nice video,9 days ago
499,-,"My favourite festival of chhath Puja ,,,",1 month ago

Q -9.--> Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in
“London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall
reviews, privates from price, dorms from price, facilities and property description.

In [591]:
driver=webdriver.Chrome()
driver.get('https://www.hostelworld.com/pwa/wds/s?q=London,%20England&country=London&city=London&type=city&id=3&from=2023-11-14&to=2023-11-17&guests=2&page=1')

In [592]:
hotel=[]
distance=[]
ratings=[]
reviews=[]
overall=[]
privates_price=[]
dorms_price=[]

In [597]:
ho=driver.find_elements(By.CLASS_NAME,'property-name')
for i in ho:
    hotel.append(i.text)
    hotel=hotel[0:20]

In [598]:
hotel
len(hotel)

20

In [599]:
di=driver.find_elements(By.CLASS_NAME,'distance-description')
for i in di:
    distance.append(i.text)
    distance=distance[0:20]

In [602]:
len(distance)

20

In [603]:
rat=driver.find_elements(By.CLASS_NAME,'number')
for i in rat:
    ratings.append(i.text)
    ratings=ratings[0:20]

In [605]:
len(ratings)

20

In [606]:
view=driver.find_elements(By.CLASS_NAME,'left-margin')
for i in view:
    reviews.append(i.text)
    reviews=reviews[0:20]

In [608]:
len(reviews)

20

In [609]:
over=driver.find_elements(By.CLASS_NAME,'keyword')
for i in over:
    overall.append(i.text)
    overall=overall[0:20]

In [611]:
len(overall)

20

In [612]:
privates=driver.find_elements(By.CLASS_NAME,'accommodation-price')
for i in privates:
    privates_price.append(i.text)
    privates_price=privates_price[0:20]

In [614]:
len(privates_price)

20

In [615]:
dorms_price
dorms=driver.find_elements(By.CLASS_NAME,'current')
for i in dorms:
    dorms_price.append(i.text)
    dorms_price=dorms_price[0:20]

In [617]:
len(dorms_price)

20

In [ ]:
hotel=[]
distance=[]
ratings=[]
reviews=[]
overall=[]
privates_price=[]
dorms_price=[]

In [619]:
import pandas as pd
df=pd.DataFrame({'Hotel_Name':hotel,'Distance_from_city':distance,'Ratings':ratings,'Reviews':reviews,'Overall_Reviews':overall,'Privates_prices':privates_price,'Dorms_Prices':dorms_price})
df.replace('-','',inplace=True)

In [620]:
df

,Hotel_Name,Distance_from_city,Ratings,Reviews,Overall_Reviews,Privates_prices,Dorms_Prices
0,St Christopher's Village,- 1.8km from city centre,8.2,(12630),Fabulous,"₹2,128","₹2,128"
1,St Christopher's Village,- 5.5km from city centre,8.2,(2386),Fabulous,No Privates Available,"₹17,723"
2,Onefam Notting Hill,- 5.4km from city centre,9.6,(1013),Superb,"₹2,364\n₹2,128","₹5,167"
3,Urbany Hostel London,- 3km from city centre,9.5,(7920),Superb,"₹17,723","₹13,628"
4,Generator London,- 1.7km from city centre,7.5,(5194),Very Good,"₹5,167","₹3,351"
5,Safestay London Elephant & Castle,- 4.3km from city centre,7.1,(12243),Very Good,"₹13,628","₹10,768"
6,Astor Hyde Park,- 6.1km from city centre,8.2,(2045),Fabulous,"₹3,351","₹9,673"
7,NX London Hostel,- 5.8km from city centre,8.3,(1718),Fabulous,"₹10,768","₹1,802"
8,Safestay London Kensington Holland Park,- 3.2km from city centre,6.9,(448),Good,No Dorms Available,"₹4,960"
9,Clink261,- 10km from city centre,8.0,(5139),Fabulous,"₹9,673","₹4,453"
10,No.8 Willesden Hostel London,- 2.6km from city centre,7.1,(10144),Very Good,"₹1,802","₹8,164"
11,Smart Russell Square Hostel,- 1.7km from city centre,7.5,(275),Very Good,No Privates Available,"₹1,588"
12,Destinations Hostels @ The Gallery,- 5km from city centre,9.1,(6766),Superb,"₹4,960","₹2,714"
13,Smart Hyde Park Inn Hostel,- 4.2km from city centre,7.6,(4538),Very Good,No Privates Available,"₹3,324"
14,Phoenix Hostel,- 9km from city centre,7.1,(4116),Very Good,"₹4,453","₹1,286"
15,No.8 Seven Sisters,- 5.1km from city centre,6.5,(77),Good,"₹9,071\n₹8,164","₹2,317"
16,Hostelle - women only hostel London,- 2.1km from city centre,8.8,(4673),Fabulous,"₹1,765\n₹1,588","₹4,841"
17,YHA London Oxford Street,- 7.5km from city centre,9.0,(4340),Superb,No Privates Available,"₹2,436"
18,St Christopher's Hammersmith,- 3.6km from city centre,7.6,(835),Very Good,"₹2,714","₹2,105"
19,Prime Backpackers Angel,- 5.5km from city centre,8.1,(2009),Fabulous,"₹3,324","₹1,065"